<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Canvas</title>
</head>

<body>
    <!-- <img src="../test_data/1.png"> -->
    <!-- <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div> -->
    <!-- <br><br><br><br> -->
    <canvas id="canvas"></canvas>

    <script src="../static/js/canvas.js"></script>
</body>

</html>